# Rename to .env and fill in the values for your environment.
# Use by docker-compose with the env_file directive: ./docker/control.sh start

# True for development, False for production
DEBUG=True

BASE_URL=http://localhost:5000

CACHE_CONTROL=True
APP_ROOT=/app/work
OTTERDOG_CONFIG_OWNER=OtterdogTest
OTTERDOG_CONFIG_REPO=otterdog-configs
OTTERDOG_CONFIG_PATH=otterdog.json
OTTERDOG_CONFIG_TOKEN=<your GH token>

GITHUB_ADMIN_TEAMS=eclipsefdn-security,eclipsefdn-releng
GITHUB_WEBHOOK_ENDPOINT=/github-webhook/receive
GITHUB_WEBHOOK_SECRET=<your secret>
GITHUB_WEBHOOK_VALIDATION_CONTEXT=eclipsefdn/otterdog-validation
GITHUB_WEBHOOK_SYNC_CONTEXT=eclipsefdn/otterdog-sync

GITHUB_OAUTH_CLIENT_ID=<your client id>
GITHUB_OAUTH_CLIENT_SECRET=<your client secret>

SECRET_KEY=<your super secret password>

GITHUB_APP_ID=<your id>
GITHUB_APP_PRIVATE_KEY=/app/otterdog.private-key.pem

DEPENDENCY_TRACK_URL=https://sbom.eclipse.org
DEPENDENCY_TRACK_TOKEN=<your token>
