# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

.pytest_cache/

.idea
.vscode

dist
site
.venv/
.cache/

### Ignoring otterdog out directory orgs
orgs/

### Ignoring data to test
data


#### Ignoring swp files
*.swp
.project
