exclude: '^(mkdocs.yml|scripts|otterdog-complete.bash)'
default_language_version:
    python: default
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-toml
      - id: check-yaml
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.11.0.1
    hooks:
    -   id: shellcheck
  - repo: https://github.com/woodruffw/zizmor-pre-commit
    rev: v1.22.0
    hooks:
      - id: zizmor
        args: [ --min-severity, low ]
  - repo: local
    hooks:
      - id: ruff
        name: Ruff Linter
        entry: ruff check --fix
        language: system
        types: [python]
      - id: ruff-format
        name: Ruff Formatter
        entry: ruff format --force-exclude
        language: system
        types: [python]
      - id: mypy
        name: Mypy Type Check
        entry: mypy
        language: system
        require_serial: true
        types: [python]
        exclude: "tests" # see https://github.com/pre-commit/pre-commit/issues/2967
        args:
          - --config-file=pyproject.toml
          - --scripts-are-modules
