[tool.poetry]
name          = "otterdog"
version       = "0.4.0"
description   = "Tool to manage GitHub organizations and their repositories."
authors       = ["Thomas Neidhart <thomas.neidhart@eclipse-foundation.org>"]
readme        = "README.md"
homepage      = "https://github.com/eclipse-csi/otterdog"
repository    = "https://github.com/eclipse-csi/otterdog"
documentation = "https://otterdog.readthedocs.io"
keywords      = ["infrastructure-as-code", "supply-chain-security", "github", "gitops"]

packages      = [
    { include = "otterdog" }
]

include       = [
    "CHANGELOG.md",
    "README.md"
]

classifiers   = [
    "Development Status :: 5 - Production/Stable",
    "Intended Audience :: System Administrators",
    "License :: OSI Approved :: Eclipse Public License 2.0 (EPL-2.0)",
    "Operating System :: Unix",
    "Operating System :: POSIX",
    "Operating System :: MacOS",
    "Programming Language :: Python",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
    "Programming Language :: Python :: Implementation :: CPython",
    "Environment :: Console",
    "Topic :: System :: Systems Administration",
    "Typing :: Typed",
]

[tool.poetry.dependencies]
python               = "^3.10"
aiofiles             = "^23.2"
aiohttp              = "^3.9"
aiohttp-client-cache = "^0.10"
aiosqlite            = "^0.19"
chevron              = "^0.14"
click                = "^8.1"
colorama             = "^0.4"
gojsonnet            = "^0.20"
importlib_resources  = "^5.12"
jq                   = "^1.6"
jsonschema           = "^4.20"
jwt                  = "^1.3"
mintotp              = "^0.3"
playwright           = "^1.40"
requests             = "^2.31"
requests-cache       = "^1.1"
JSONBender           = "^0.9"
PyNaCl               = "^1.5"

[tool.poetry.group.app.dependencies]
quart           = "^0.19"
python-decouple = "^3.8"
python-dotenv   = "^1.0"
pydantic        = "^2.5"

[tool.poetry.group.dev.dependencies]
black      = "^23.3"
flake8     = "^6.0"
mypy       = "^1.8"
pre-commit = "^3.3"

[tool.poetry.group.test.dependencies]
pytest = "^7.3"

[tool.poetry.group.typing.dependencies]
types-colorama   = "^0.4"
types-requests   = "^2.31"
types-jsonschema = "^4.17"
types-chevron    = "^0.14"

[tool.poetry.group.docs]
optional = true

[tool.poetry.group.docs.dependencies]
mkdocs          = "^1.5"
mkdocs-material = "^9.5"
mkdocs-exclude  = "^1.0"

[tool.poetry.scripts]
otterdog     = "otterdog.cli:cli"

[build-system]
requires      = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.pytest.ini_options]
minversion = "7.2"
testpaths  = ["tests"]
pythonpath = [".", "otterdog"]

[tool.black]
color          = true
line-length    = 120
target-version = ['py310']

[tool.isort]
profile = "black"

[tool.mypy]
python_version = "3.10"
exclude        = ["scripts", "docs", "tests"]
