{% extends "layouts/base.html" %}

{% block title %} Profile {% endblock %}

<!-- Element injected in the BODY element -->
{% block body_class %} sidebar-mini {% endblock body_class %}

{% block headscripts %}
  {{ super() }}
  <script src="/assets/vendor/marked/marked.min.js"></script>
{% endblock headscripts %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
  {{ super() }}
  <link rel="stylesheet" href="{{ asset('css/highlight.css') }}">

  <style>
    pre { padding: 0px; }
    code { padding: 0px; }
    pre code.hljs {
      padding: 0px;
      font-size: 12px;
    }
  </style>
{% endblock stylesheets %}

{% block content %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>{{ project_name }}</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/index">Home</a></li>
              <li class="breadcrumb-item active">{{ project_name }}</li>
            </ol>
          </div>
        </div>
      </div>
      <!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- /.col -->
          <div class="col-md-12">
            <div class="card card-primary card-outline card-outline-tabs">
              <div class="card-header p-0 border-bottom-0">
                <ul class="nav nav-tabs" id="organization-tabs" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link active" id="overview-tab" data-toggle="pill" href="#overview" role="tab" aria-controls="overview" aria-selected="true">Overview</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="policies-tab" data-toggle="pill" href="#policies" role="tab" aria-controls="policies" aria-selected="false">Policies</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="blueprints-tab" data-toggle="pill" href="#blueprints" role="tab" aria-controls="blueprints" aria-selected="false">Blueprints</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="settings-tab" data-toggle="pill" href="#settings" role="tab" aria-controls="settings" aria-selected="false">Settings</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="roles-tab" data-toggle="pill" href="#roles" role="tab" aria-controls="roles" aria-selected="false">Roles</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="teams-tab" data-toggle="pill" href="#teams" role="tab" aria-controls="teams" aria-selected="false">Teams</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="custom-properties-tab" data-toggle="pill" href="#custom-properties" role="tab" aria-controls="custom-properties" aria-selected="false">Custom Properties</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="secrets-tab" data-toggle="pill" href="#secrets" role="tab" aria-controls="secrets" aria-selected="false">Secrets</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="variables-tab" data-toggle="pill" href="#variables" role="tab" aria-controls="variables" aria-selected="false">Variables</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="webhooks-tab" data-toggle="pill" href="#webhooks" role="tab" aria-controls="webhooks" aria-selected="false">Webhooks</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="rulesets-tab" data-toggle="pill" href="#rulesets" role="tab" aria-controls="rulesets" aria-selected="false">Rulesets</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="repositories-tab" data-toggle="pill" href="#repositories" role="tab" aria-controls="repositories" aria-selected="false">Repositories</a>
                  </li>
                </ul>
              </div>
              <div class="card-body">
                <div class="tab-content" id="organization-tabContent">
                  <div class="tab-pane show active" id="overview" role="tabpanel" aria-labelledby="overview-tab">
                    <div class="container-fluid">
                      <div class="row">
                        <div class="col-sm-3">
                          <div class="card card-primary">
                            <div class="card-header">
                              <h3 class="card-title">General</h3>
                            </div>
                            <div class="card-body">
                              <ul class="nav flex-column">
                                <li class="nav-item">
                                  <a href="{{ project_url }}" class="nav-link" target="_blank">
                                    Project
                                    <span class="float-right">{{ project_name }}</span>
                                  </a>
                                </li>
                                <li class="nav-item">
                                  <a href="https://github.com/{{ github_id }}" class="nav-link" target="_blank">
                                    GitHub Org
                                    <span class="float-right">{{ github_id }}</span>
                                  </a>
                                </li>
                                <li class="nav-item">
                                  <a href="{{ base_template.url }}" class="nav-link" target="_blank">
                                    Default Config
                                    <span class="float-right">{{ base_template.ref }}</span>
                                  </a>
                                </li>
                                <li class="nav-item">
                                  <a href="#settings" class="nav-link tab-link">
                                    {% set two_factor_enabled = config.settings.two_factor_requirement %}
                                    2FA enforced <span class="float-right badge bg-{{ 'success' if two_factor_enabled == true else 'danger' }}">{{ two_factor_enabled }}</span>
                                  </a>
                                </li>
                                <li class="nav-item">
                                  <a href="#workflow-settings" class="nav-link tab-link">
                                    {% set default_workflow_permissions = config.settings.workflows.default_workflow_permissions %}
                                    Default workflow permissions <span class="float-right badge bg-{{ 'success' if default_workflow_permissions == 'read' else 'danger' }}">{{ default_workflow_permissions }}</span>
                                  </a>
                                </li>
                                <li class="nav-item">
                                  <a href="#secrets" class="nav-link tab-link">
                                    Secrets <span class="float-right badge bg-{{ config.secrets|length_to_color}}">{{ config.secrets|length }}</span>
                                  </a>
                                </li>
                                <li class="nav-item">
                                  <a href="#variables" class="nav-link tab-link">
                                    Variables <span class="float-right badge bg-{{ config.variables|length_to_color}}">{{ config.variables|length }}</span>
                                  </a>
                                </li>
                                <li class="nav-item">
                                  <a href="#webhooks" class="nav-link tab-link">
                                    Webhooks <span class="float-right badge bg-{{ config.webhooks|length_to_color}}">{{ config.webhooks|length }}</span>
                                  </a>
                                </li>
                                <li class="nav-item">
                                  <a href="#repositories" class="nav-link tab-link">
                                    Repositories <span class="float-right badge bg-{{ config.repositories|length_to_color}}">{{ config.repositories|length }}</span>
                                  </a>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-3">
                          <div class="card card-{{ secret_scanning_data|from_json|first|int_status }}">
                            <div class="card-header">
                              <h3 class="card-title">Secret Scanning</h3>
                            </div>
                            <div class="card-body">
                              <canvas id="secret-scanning-chart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-3">
                          <div class="card card-{{ branch_protection_data|from_json|first|int_status }}">
                            <div class="card-header">
                              <h3 class="card-title">Branch Protections</h3>
                            </div>
                            <div class="card-body">
                              <canvas id="branch-protection-chart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-2">
                          <div class="card card-info">
                            <div class="card-header">
                              <h3 class="card-title">Help</h3>
                            </div>
                            <div class="card-body">
                              <ul class="nav flex-column">
                                <li class="nav-item">
                                  <a href="https://otterdog.readthedocs.io/en/latest/reference/resource-format/" class="nav-link" target="_blank">
                                    <i class="fa-solid fa-book"></i>
                                    Reference guide
                                  </a>
                                </li>
                                <li class="nav-item">
                                  <a href="/projects/{{ project_name }}/defaults" class="nav-link">
                                    <i class="fa-solid fa-layer-group"></i>
                                    Defaults
                                  </a>
                                </li>
                                <li class="nav-item">
                                  <a href="/projects/{{ project_name }}/playground" class="nav-link">
                                    <i class="fa-solid fa-gamepad"></i>
                                    Playground
                                  </a>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- /.card -->
                  </div>
                  <div class="tab-pane" id="policies" role="tabpanel" aria-labelledby="policies-tab">
                    <div class="row">
                      <div class="col-2">
                        <div class="nav flex-column nav-tabs nav-tabs-left h-100" id="policies-tabs" role="tablist" aria-orientation="vertical">
                          {% for policy in policies %}
                          {% set policy_id = policy.id %}
                          {% set id = 'policy-' ~ loop.index %}
                          <a class="nav-link {{ 'active' if loop.index == 1 else '' }}" id="{{ id }}-tab" data-toggle="pill" href="#{{ id }}" role="tab" aria-controls="{{ id }}" aria-selected="{{ 'true' if loop.index == 1 else 'false' }}">{{ policy_id.policy_type }}</a>
                          {% endfor %}
                        </div>
                      </div>
                      <div class="col-10">
                        <div class="tab-content" id="policies-tabContent">
                          {% for policy in policies %}
                          {% set id = 'policy-' ~ loop.index %}
                          <div class="tab-pane show {{ 'active' if loop.index == 1 else '' }}" id="{{ id }}" role="tabpanel" aria-labelledby="{{ id }}-tab">
                            <div class="card card-primary">
                              <div class="card-header">
                                <h3 class="card-title">{{ policy.name if policy.name is not none else 'Overview' }}</h3>
                              </div>
                              <div class="card-body">
                                {% if policy.description %}
                                <div id="{{ id }}-desc"></div>
                                <script>
                                  document.getElementById('{{ id }}-desc').innerHTML =
                                    marked.parse('{{ policy.description | replace('\n', '\\n') }}', { gfm: true, breaks: true});
                                </script>
                                {% endif %}
                                Reference: <a href="{{ policy.path }}" target="_blank">{{ policy.path }}</a>
                              </div>
                            </div>
                            <div class="card card-primary">
                              <div class="card-header">
                                <h3 class="card-title">Config</h3>
                              </div>
                              <div class="card-body">
                                <pre><code class="language-json">{{ policy.config|pretty_format }}</code></pre>
                              </div>
                            </div>
                            {% if policy.id.policy_type in policies_status %}
                            {% set policy_status = policies_status[policy.id.policy_type] %}
                            <div class="card card-info">
                              <div class="card-header">
                                <h3 class="card-title">Status</h3>
                              </div>
                              <div class="card-body">
                                <div class="table-responsive p-0">
                                  <table class="table table-hover text-nowrap">
                                    <thead>
                                      <tr>
                                        {% for key, value in policy_status.status.items() %}
                                        <th>{{ key | snake_to_normal }}</th>
                                        {% endfor %}
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr>
                                        {% for key, value in policy_status.status.items() %}
                                        <td>{{ value }}</td>
                                        {% endfor %}
                                      </tr>
                                    </tbody>
                                  </table>
                                </div>
                              </div>
                            </div>
                            {% endif %}
                          </div>
                          {% endfor %}
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane" id="blueprints" role="tabpanel" aria-labelledby="blueprints-tab">
                    <div class="row">
                      <div class="col-2">
                        <div class="nav flex-column nav-tabs nav-tabs-left h-100" id="blueprints-tabs" role="tablist" aria-orientation="vertical">
                          {% for blueprint in blueprints %}
                          {% set blueprint_id = blueprint.id %}
                          {% set id = 'blueprint-' ~ blueprint_id.blueprint_id %}
                          <a class="nav-link {{ 'active' if loop.index == 1 else '' }}" id="{{ id }}-tab" data-toggle="pill" href="#{{ id }}" role="tab" aria-controls="{{ id }}" aria-selected="{{ 'true' if loop.index == 1 else 'false' }}">{{ blueprint_id.blueprint_id }}</a>
                          {% endfor %}
                        </div>
                      </div>
                      <div class="col-10">
                        <div class="tab-content" id="blueprints-tabContent">
                          {% for blueprint in blueprints %}
                          {% set blueprint_id = blueprint.id %}
                          {% set id = 'blueprint-' ~ blueprint_id.blueprint_id %}
                          <div class="tab-pane show {{ 'active' if loop.index == 1 else '' }}" id="{{ id }}" role="tabpanel" aria-labelledby="{{ id }}-tab">
                            <div class="card card-primary">
                              <div class="card-header">
                                <h3 class="card-title">{{ blueprint.name if blueprint.name is not none else 'Overview' }}</h3>
                              </div>
                              <div class="card-body">
                                {% if blueprint.description %}
                                <div id="{{ id }}-desc"></div>
                                <script>
                                  document.getElementById('{{ id }}-desc').innerHTML =
                                    marked.parse('{{ blueprint.description | replace('\n', '\\n') }}', { gfm: true, breaks: true});
                                </script>
                                {% endif %}
                                Reference: <a href="{{ blueprint.path }}" target="_blank">{{ blueprint.path }}</a>
                              </div>
                            </div>
                            <div class="card card-primary collapsed-card">
                              <div class="card-header" data-card-widget="collapse">
                                <h3 class="card-title">Config</h3>
                                <div class="card-tools" style="margin: 0px;">
                                  <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-plus"></i>
                                  </button>
                                </div>
                              </div>
                              <div class="card-body">
                                <pre><code class="language-json">{{ blueprint.config|pretty_format }}</code></pre>
                              </div>
                            </div>
                            <div class="card card-info">
                              <div class="card-header" data-card-widget="collapse">
                                <h3 class="card-title">Status</h3>
                                <div class="card-tools" style="margin: 0px;">
                                  <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-minus"></i>
                                  </button>
                                </div>
                              </div>
                              <div class="card-body">
                                <div class="table-responsive p-0">
                                  <table class="table table-hover text-nowrap">
                                    <thead>
                                      <tr>
                                        <th>Repository</th>
                                        <th>Updated At</th>
                                        <th>Status</th>
                                        <th>Remediation PR</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      {% for blueprint_status in blueprints_status[blueprint_id.blueprint_id] %}
                                      <tr class="table-{{ blueprint_status.status | blueprint_status_color }}">
                                        <td><a href="https://github.com/{{ config.github_id }}/{{ blueprint_status.id.repo_name }}">{{ blueprint_status.id.repo_name }}</a></td>
                                        <td>{{ blueprint_status.updated_at.strftime('%Y-%m-%d %H:%M:%S') }}</td>
                                        <td>{{ blueprint_status.status }}</td>
                                        <td>
                                          {% if blueprint_status.remediation_pr is none %}
                                            N/A
                                          {% else %}
                                            <a href="https://github.com/{{ config.github_id }}/{{ blueprint_status.id.repo_name }}/pull/{{ blueprint_status.remediation_pr }}">#{{ blueprint_status.remediation_pr }}</a>
                                          {% endif %}
                                        </td>
                                      </tr>
                                      {% endfor %}
                                    </tbody>
                                  </table>
                                </div>
                              </div>
                            </div>
                          </div>
                          {% endfor %}
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane" id="settings" role="tabpanel" aria-labelledby="settings-tab">
                    <pre><code class="language-json">{{ config.settings|pretty_format_model }}</code></pre>
                  </div>
                  <div class="tab-pane" id="roles" role="tabpanel" aria-labelledby="roles-tab">
                    <div class="table-responsive p-0">
                      <table class="table table-hover text-nowrap">
                        <thead>
                          <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Permissions</th>
                            <th>Base Role</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for role in config.roles|sort(attribute='name') %}
                          <tr>
                            <td>{{ role.name }}</td>
                            <td>{{ role.description }}</td>
                            <td>
                              <ul>
                              {% for permission in role.permissions %}
                                <li>{{ permission }}</li>
                              {% endfor %}
                              </ul>
                            </td>
                            <td>{{ role.base_role }}</td>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div class="tab-pane" id="teams" role="tabpanel" aria-labelledby="teams-tab">
                    <div class="table-responsive p-0">
                      <table class="table table-hover">
                        <thead>
                          <tr class="d-flex">
                            <th class="col-2">Name</th>
                            <th class="col-6">Description</th>
                            <th class="col-1">Privacy</th>
                            <th class="col-1">Notifications</th>
                            <th class="col-2">Members</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for team in config.teams|sort(attribute='name') %}
                          <tr class="d-flex">
                            <td class="col-2">{{ team.name }}</td>
                            <td class="col-6" style="word-wrap: break-word;">{{ team.description }}</td>
                            <td class="col-1">{{ team.privacy }}</td>
                            <td class="col-1">{{ team.notifications }}</td>
                            <td class="col-2">
                              {% if team.skip_members == true %}
                              skipped
                              {% else %}
                              <ul>
                              {% for member in team.members %}
                                <li>{{ member }}</li>
                              {% endfor %}
                              </ul>
                              {% endif %}
                            </td>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div class="tab-pane" id="custom-properties" role="tabpanel" aria-labelledby="custom-properties-tab">
                    <div class="table-responsive p-0">
                      <table class="table table-hover text-nowrap">
                        <thead>
                          <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Value Type</th>
                            <th>Required</th>
                            <th>Default Value</th>
                            <th>Allowed Values</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for custom_property in config.settings.custom_properties|sort(attribute='name') %}
                          <tr>
                            <td>{{ custom_property.name }}</td>
                            <td>{{ custom_property.description }}</td>
                            <td>{{ custom_property.value_type }}</td>
                            <td>{{ custom_property.required }}</td>
                            <td>
                              {% if custom_property.default_value %}
                              {{ custom_property.default_value|pprint }}
                              {% endif %}
                            </td>
                            <td>
                              {% if custom_property.allowed_values %}
                              {{ custom_property.allowed_values|pprint }}
                              {% endif %}
                            </td>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div class="tab-pane" id="secrets" role="tabpanel" aria-labelledby="secrets-tab">
                    <div class="table-responsive p-0">
                      <table class="table table-hover text-nowrap">
                        <thead>
                          <tr>
                            <th>Name</th>
                            <th>Secret</th>
                            <th>Visibility</th>
                            <th>Selected Repos</th>
                            <th class="text-center">Resolved</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for secret in config.secrets|sort(attribute='name') %}
                          <tr>
                            <td>{{ secret.name }}</td>
                            <td>{{ secret.value }}</td>
                            <td>{{ secret.visibility }}</td>
                            <td>
                              {% if secret.selected_repositories %}
                              {{ secret.selected_repositories|pprint }}
                              {% endif %}
                            </td>
                            <td class="text-center">
                              {% if not secret|has_dummy_secret %}
                              <i class="text-success fa-solid fa-circle-check"></i>
                              {% else %}
                              <i class="text-warning fa-solid fa-circle-xmark"></i>
                              {% endif %}
                            </td>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div class="tab-pane" id="variables" role="tabpanel" aria-labelledby="variables-tab">
                    <div class="table-responsive p-0">
                      <table class="table table-hover text-nowrap">
                        <thead>
                          <tr>
                            <th>Name</th>
                            <th>Value</th>
                            <th>Visibility</th>
                            <th>Selected Repos</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for variable in config.variables|sort(attribute='name') %}
                          <tr>
                            <td>{{ variable.name }}</td>
                            <td>{{ variable.value }}</td>
                            <td>{{ variable.visibility }}</td>
                            <td>
                              {% if variable.selected_repositories %}
                              {{ variable.selected_repositories|pprint }}
                              {% endif %}
                            </td>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div class="tab-pane" id="webhooks" role="tabpanel" aria-labelledby="webhooks-tab">
                    <div class="table-responsive p-0">
                      <table class="table table-hover text-nowrap">
                        <thead>
                          <tr>
                            <th>URL</th>
                            <th class="text-center">Active</th>
                            <th>Events</th>
                            <th class="text-center">Uses SSL</th>
                            <th class="text-center">Resolved Secret</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for webhook in config.webhooks|sort(attribute='url') %}
                          <tr>
                            <td>{{ webhook.url }}</td>
                            <td class="text-center">
                              {% if webhook.active == true %}
                              <i class="text-success fa-solid fa-circle-check"></i>
                              {% else %}
                              <i class="text-danger fa-solid fa-circle-xmark"></i>
                              {% endif %}
                            </td>
                            <td>
                              <ul>
                              {% for event in webhook.events %}
                                <li>{{ event }}</li>
                              {% endfor %}
                              </ul>
                            </td>
                            <td class="text-center">
                              {% if webhook.insecure_ssl == "0" %}
                              <i class="text-success fa-solid fa-circle-check"></i>
                              {% else %}
                              <i class="text-danger fa-solid fa-circle-xmark"></i>
                              {% endif %}
                            </td>
                            <td class="text-center">
                              {% if webhook.secret %}
                                {% if not webhook|has_dummy_secret %}
                              <i class="text-success fa-solid fa-circle-check"></i>
                                {% else %}
                              <i class="text-info fa-solid fa-circle-xmark"></i>
                                {% endif %}
                              {% else %}
                              <i class="text-muted fa-solid fa-circle"></i>
                              {% endif %}
                            </td>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div class="tab-pane" id="rulesets" role="tabpanel" aria-labelledby="rulesets-tab">
                    <div class="row">
                      <div class="col-1">
                        <div class="nav flex-column nav-tabs nav-tabs-left h-100" id="rulesets-tabs" role="tablist" aria-orientation="vertical">
                          {% for ruleset in config.rulesets %}
                          {% set ruleset_id = 'ruleset-' ~ loop.index %}
                          <a class="nav-link {{ 'active' if loop.index == 1 else '' }}" id="{{ ruleset_id }}-tab" data-toggle="pill" href="#{{ ruleset_id }}" role="tab" aria-controls="{{ ruleset_id }}" aria-selected="{{ 'true' if loop.index == 1 else 'false' }}">{{ ruleset.name }}</a>
                          {% endfor %}
                        </div>
                      </div>
                      <div class="col-10">
                        <div class="tab-content" id="rulesets-tabContent">
                          {% for ruleset in config.rulesets %}
                          {% set ruleset_id = 'ruleset-' ~ loop.index %}
                          <div class="tab-pane show {{ 'active' if loop.index == 1 else '' }}" id="{{ ruleset_id }}" role="tabpanel" aria-labelledby="{{ ruleset_id }}-tab">
                            <pre><code class="language-json">{{ ruleset|pretty_format_model }}</code></pre>
                          </div>
                          {% endfor %}
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane" id="repositories" role="tabpanel" aria-labelledby="repositories-tab">
                    <div class="table-responsive p-0">
                      <table class="table table-hover text-nowrap">
                        <thead>
                          <tr>
                            <th>Repository</th>
                            <th class="text-center">Branch Protections</th>
                            <th class="text-center">Secrets</th>
                            <th class="text-center">Variables</th>
                            <th class="text-center">Webhooks</th>
                            <th class="text-center">Secret Scanning</th>
                            <th class="text-center">Private Vulnerability Reporting</th>
                            <th class="text-center">OSSF Scorecard</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for repo in config.repositories|sort(attribute='name') %}
                          <tr>
                            <td>
                              {% if repo.archived == true %}
                              <i class="fa-solid fa-box-archive"></i>
                              {% endif %}
                              <a href="/projects/{{ project_name }}/repos/{{ repo.name }}">{{ repo.name }}</a>
                              <a href="https://github.com/{{ config.github_id }}/{{ repo.name }}" target="_blank"><i class="fa-solid fa-up-right-from-square"></i></a>
                            </td>
                            <td class="text-center">
                              {% if repo.archived == true %}
                              <i class="text-muted fa-solid fa-circle"></i>
                              {% elif repo.branch_protection_rules|length > 0 or repo.rulesets|length > 0 %}
                              <i class="text-success fa-solid fa-circle-check"></i>
                              {% else %}
                              <i class="text-danger fa-solid fa-circle-xmark"></i>
                              {% endif %}
                            </td>
                            <td class="text-center">
                              {% if repo.secrets|length > 0 %}
                                {% if not repo.secrets|has_dummy_secrets %}
                              <i class="text-success fa-solid fa-circle-check"></i>
                                {% else %}
                              <i class="text-info fa-solid fa-circle-xmark"></i>
                                {% endif %}
                              {% else %}
                              <i class="text-muted fa-solid fa-circle"></i>
                              {% endif %}
                            </td>
                            <td class="text-center">
                              {% if repo.variables|length > 0 %}
                              <i class="text-success fa-solid fa-circle-check"></i>
                              {% else %}
                              <i class="text-muted fa-solid fa-circle"></i>
                              {% endif %}
                            </td>
                            <td class="text-center">
                              {% if repo.webhooks|length > 0 %}
                                {% if not repo.webhooks|has_dummy_secrets %}
                              <i class="text-success fa-solid fa-circle-check"></i>
                                {% else %}
                              <i class="text-info fa-solid fa-circle-xmark"></i>
                                {% endif %}
                              {% else %}
                              <i class="text-muted fa-solid fa-circle"></i>
                              {% endif %}
                            </td>
                            <td class="text-center">
                              {% if repo.archived == true %}
                              <i class="text-muted fa-solid fa-circle"></i>
                              {% elif repo.secret_scanning_push_protection == "enabled" %}
                              <i class="text-success fa-solid fa-circle-check"></i>
                              {% elif repo.secret_scanning == "enabled" %}
                              <i class="text-warning fa-solid fa-circle-check"></i>
                              {% else %}
                              <i class="text-danger fa-solid fa-circle-xmark"></i>
                              {% endif %}
                            </td>
                            <td class="text-center">
                              {% if repo.archived == true %}
                              <i class="text-muted fa-solid fa-circle"></i>
                              {% elif repo.private_vulnerability_reporting_enabled == true %}
                              <i class="text-success fa-solid fa-circle-check"></i>
                              {% elif repo.private_vulnerability_reporting_enabled == false %}
                              <i class="text-warning fa-solid fa-circle-xmark"></i>
                              {% else %}
                              <i class="text-muted fa-solid fa-circle"></i>
                              {% endif %}
                            </td>
                            <td class="text-center">
                              {% if repo.name in scorecard_results %}
                              {% set result = scorecard_results[repo.name] %}
                              <a href="https://scorecard.dev/viewer/?uri=github.com/{{ config.github_id }}/{{ repo.name }}" target="_blank">
                                <span title="Scorecard" class="badge" style="background-color:{{ result.score | scorecard_badge_color}}; color: white;">{{ result.score }}</span>
                              </a>
                              {% else %}
                              <span title="Scorecard" class="badge bg-secondary">N/A</span>
                              {% endif %}
                            </td>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.card -->
            </div>
          </div>

          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
  {{ super() }}
  <!-- Chart.js -->
  <script src="/assets/vendor/chartjs/chart.umd.js"></script>
  <script type="module" src="{{ asset('js/highlight.js') }}"></script>

  <script type="module">
    $(document).ready(function() {
      enableTabFromHash();

      drawSecretScanningChart();
      drawBranchProtectionChart();

      window.onhashchange = function() {
        enableTabFromHash();
      };
    });

    function enableTabFromHash() {
      var hash = window.location.hash;
      if (!hash) {
        hash = "#overview";
      }

      if (hash.startsWith('#blueprint-')) {
          $('[data-toggle="pill"][href="#blueprints"]').trigger('click', false);
      }

      $('[data-toggle="pill"][href="' + hash + '"]').trigger('click', false);
    }

    $(".nav-tabs").find("li a").each(function(key, val) {
      $(val).on("click", function(e, updateHistory) {
        if (updateHistory == false) {
          return;
        }

        if(history.pushState) {
          history.pushState(null, null, $(this).attr('href'));
        } else {
          window.location.hash = $(this).attr('href');
        }
      });
    });

    $('.tab-link').on('click', function(event) {
      // Prevent url change
      event.preventDefault();

      // `this` is the clicked <a> tag
      $('[data-toggle="pill"][href="' + this.hash + '"]').trigger('click');
    });

    function drawSecretScanningChart() {
      const secret_scanning_ctx = document.getElementById('secret-scanning-chart');

      new Chart(secret_scanning_ctx, {
        type: 'doughnut',
        data: {
          labels: ['disabled', 'alert mode', 'protection mode'],
          datasets: [{
            label: 'secret scanning',
            data: {{ secret_scanning_data|safe }},
            backgroundColor: [
              '#dc3545',
              '#ffc107',
              '#28a745'
            ],
            borderWidth: 1
          }]
        },
        options: {
          animation: {
            animateRotate: false
          }
        }
      });
    };

    function drawBranchProtectionChart() {
      const branch_protections_ctx = document.getElementById('branch-protection-chart');

      new Chart(branch_protections_ctx, {
        type: 'doughnut',
        data: {
          labels: ['not protected', 'protected'],
          datasets: [{
            label: 'branch protections',
            data: {{ branch_protection_data|safe }},
            backgroundColor: [
              '#dc3545',
              '#28a745'
            ],
            borderWidth: 1
          }]
        },
        options: {
          animation: {
            animateRotate: false
          }
        }
      });
    };
  </script>
{% endblock javascripts %}
