name: Generate and ingest SBOM into sbom.eclipse.org

on:
  push:
    branches: [main]
  workflow_dispatch:
    inputs:
      version:
        description: 'Version'
        default: 'main'
        required: true

env:
  PYTHON_VERSION: '3.12'
  POETRY_VERSION: '2.0.0'

permissions:
  contents: read

jobs:
  generate-sbom:
    runs-on: ubuntu-latest
    outputs:
      project-version: ${{ steps.export.outputs.PROJECT_VERSION }}
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: false
          fetch-depth: 0
          ref: ${{ github.event.inputs.version }}
      - uses: actions/setup-python@0b93645e9fea7318ecaed2b359559ac225c90a2b # v5.3.0
        with:
          python-version: ${{ env.PYTHON_VERSION }}
      - uses: snok/install-poetry@76e04a911780d5b312d89783f7b1cd627778900a # v1.4.1
        with:
          virtualenvs-in-project: true
          version: ${{ env.POETRY_VERSION }}
      - name: Install cyclonedx-py
        run: pipx install cyclonedx-bom==5.1.1
      - name: "Get project version and export requirements"
        id: export
        shell: bash
        run: |
          poetry install
          poetry export --with main,app -o requirements.txt
          VERSION=$(poetry version -s | sed 's/.dev[0-9]*/.dev/')
          echo "PROJECT_VERSION=$VERSION" >> $GITHUB_OUTPUT
      - name: Generate sbom
        run: cyclonedx-py requirements -o otterdog-bom.json
      - name: Upload sbom
        uses: actions/upload-artifact@b4b15b8c7c6ac21ea08fcf65892d2ee8f75cf882 # v4.4.3
        with:
          name: otterdog-bom.json
          path: otterdog-bom.json

  upload-sbom:
    if: github.repository == 'eclipse-csi/otterdog'
    runs-on: ubuntu-latest
    needs: [ 'generate-sbom' ]
    steps:
      - uses: actions/download-artifact@fa0a91b85d4f404e444e00e005971372dc801d16 # v4.1.8
        with:
          name: otterdog-bom.json

      - uses: DependencyTrack/gh-upload-sbom@48feab3080ff9e8f51f4d21861d9fc914eb744f5 # v3.1.0
        with:
          serverHostname: 'sbom.eclipse.org'
          apiKey: ${{ secrets.DEPENDENCY_TRACK_API_KEY }}
          projectName: 'otterdog'
          projectVersion: ${{ needs.generate-sbom.outputs.project-version }}
          bomFilename: "otterdog-bom.json"
          parentName: 'otterdog'
          parentVersion: 'parent'
          autoCreate: true
