name: Generate and ingest SBOM into sbom.eclipse.org

on:
  push:
    branches: [main]
    tags:
      - "v*"
  workflow_dispatch:
    inputs:
      version:
        description: 'Version'
        default: 'main'
        required: true

env:
  PYTHON_VERSION: '3.12'
  POETRY_VERSION: '2.0.1'

permissions:
  contents: read

jobs:
  generate-sbom:
    runs-on: ubuntu-latest
    outputs:
      project-version: ${{ steps.export.outputs.PROJECT_VERSION }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
          fetch-depth: 0
          ref: ${{ github.event.inputs.version }}
      - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: ${{ env.PYTHON_VERSION }}
      - uses: snok/install-poetry@76e04a911780d5b312d89783f7b1cd627778900a # v1.4.1
        with:
          virtualenvs-in-project: true
          version: ${{ env.POETRY_VERSION }}
      - name: Install cyclonedx-py
        run: pipx install cyclonedx-bom==5.1.1
      - name: "Get project version and export requirements"
        id: export
        shell: bash
        run: |
          poetry install
          poetry export --only=main,app -o requirements.txt
          VERSION=$(poetry version -s | sed 's/.dev[0-9]*/.dev/')
          echo "PROJECT_VERSION=$VERSION" >> $GITHUB_OUTPUT
      - name: Generate sbom
        run: cyclonedx-py requirements -o otterdog-bom.json
      - name: Upload sbom
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: sbom
          path: otterdog-bom.json

  store-sbom-data: # stores sbom and metadata in a predefined format for otterdog to pick up
    needs: ['generate-sbom']
    uses: eclipse-csi/workflows/.github/workflows/store-sbom-data.yml@main
    with:
      projectName: 'otterdog'
      projectVersion: ${{ needs.generate-sbom.outputs.project-version }}
      bomArtifact: 'sbom'
      bomFilename: 'otterdog-bom.json'
      parentProject: 'caa07057-876a-44f9-b162-d2c0684e5dc5'
